*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}


nav a{
    color: black;
    transition: linear .5s;
    border-radius: 5px;
}

nav a:hover{
    color: #c34a58;
}

nav{
    font-size: 30px;
    text-align: center;
    padding: 20px;
    background-color: #c34a58;
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 30px;
}

.container{
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    gap: 30px;
}


picture img{
    width: 400px;
    height: 400px;
}